[2016-05-28 02:17] wkentdag opened #4 "`npm install spike` fails"
## :zap: description

Running `npm install -g spike` with node 6.2.0 and npm 3.8.9 fails:

[code]

I'm guessing this is because the `spike-core` dependency is out of date? `spike-core@0.3.0` depends on `static-dev/file-loader` which has since been [renamed `source-loader`](https://github.com/static-dev/spike-core/pull/122/commits/f38876be5f79c4582c44e0fa9d8996b142a594b9). I'm submitting a PR momen

[2016-05-28 17:08] #4 closed

[2016-07-07 00:25] jescalan opened #15 "Silent fail on global config access"
If there is a permission error read/writing the global config as it relates to the analytics initialization, it should log a warning rather than crashing.

[2016-07-07 00:52] argyleink commented on #15
that what i'm seeing here?

![screen shot 2016-07-06 at 5 51 29 pm](https://cloud.githubusercontent.com/assets/1134620/16639212/543ad366-43a2-11e6-8bd3-5185fdf2e3d4.png)

[2016-07-22 17:04] hhsnopek opened #19 "spike watch --no-open"
Add the ability to not open a new tab/window via `--no-open` flag.
moved from https://github.com/static-dev/spike-core/issues/165

[2016-07-26 14:26] jescalan opened #20 "Recompiles all files on save"
Reproduction here: https://github.com/allanwhite/spike-webpack/tree/feature/volume

This will take some webpack core digging I'm afraid

[2016-07-27 22:09] michaelcd commented on #19
This isn't a perfect substitute but you could add this setting to your spike config and BrowserSync won't open new tabs/windows anymore.

[code]

[2016-09-06 21:52] #20 closed

[2016-09-06 21:52] jescalan opened #27 "Analytics not working"
For some reason it is only tracking compiles, not any of the other commands 😢

[2016-09-07 05:17] srsgores opened #28 "Compile Fails with Windows Paths"
Using Windows, spike will **not compile**, even with `spike-tpl-base`, out of the box.  It appears all paths are assuming a unix-like filesystem:

The full error:

[2016-09-07 14:16] jescalan commented on #28
Hi there @srsgores! Spike doesn't support windows at the moment. Would be more than happy to accept some help getting it there if you are interested though!

[2016-09-07 14:17] #15 closed

[2016-09-13 04:33] muhajirframe opened #29 "Image broken on `spike compile -e production`"
When compile with `spike compile` everything works perfectly.
But when i compilie with `spike compile -e production` the image is broken.
I can't open it with my browser or my image viewer.

![screenshot from 2016-09-13 11-02-47](https://cloud.githubusercontent.com/assets/12745166/18461583/64876b7e-79a5-11e6-9a07-06fca0a4d976.png)
![screenshot from 2016-09-13 11-04-04](https://cloud.githubusercont

[2016-09-27 05:28] jannisg opened #31 "[reshape-layouts] Block inside of a <title> tag"
I'm trying to configure the default `spike new` output to be running via the default reshape parser instead of the `sugarml` parser but can't seem to get it running correctly with the following changes to my files:

`app.js`:

[code]

In my `views` folder I have added 2 files:

`layout.html`

[code]

`index.html`

[code]

My assumption was that making these changes while passing the `parser: false

[2016-09-27 15:50] jescalan commented on #31
Hey @jannisg -- give the [sugarfree template](https://github.com/static-dev/spike-tpl-sugarfree) a look and see if this solves your issue!

[2016-09-29 20:42] jannisg commented on #31
@jescalan Thanks for the reply, been playing with the sugarfree template and done a comparison between the markup I had in my files in the other template and now this (working) sugarfree template and have found that it seems the `<block name>` definition tags are only working in some contexts.

---

**Example:**

`layout.html` — _works_

[code]

with `index.html`

[code]

This works fine however,

[2016-10-10 18:33] jescalan commented on #31
Hey there! Sorry for the super late response here. So I did a bit of testing and it looks like there is a bug, but it's not exactly with what you pointed out here. Let me walk you through my path digging deeper this, because these are the next steps you could take to file a more accurate bug report (that being said, this one was already quite good, so thank you!)

What's interesting is that if you

[2016-10-10 18:58] jescalan commented on #31
Ok, dug a little deeper and I think I see the issue. We use [parse5](https://github.com/inikulin/parse5) to parse html for reshape, and this parser is fairly strict about HTML rules. One of these rules is that there cannot be a tag nested inside of a title tag, which makes a lot of sense. So instead of actually parsing the title block as a tag, it is parsed as plaintext, causing the layouts plugin

[2016-10-10 19:11] jescalan commented on #31
ref https://github.com/inikulin/parse5/issues/158

[2016-10-10 20:46] jescalan commented on #31
Hey there @jannisg -- so my suggestion to immediately fix the issue is to wrap the entire title tag in a block as such:

[code]

If you have a default prefix you want to use for all pages, you could add this as a local:

[code]

Also @wooorm suggested in the other thread that we could add a new feature that would provide an alternate solution to the issue:

[code]

So this would, instead of using

[2016-10-12 19:35] robertguss commented on #29
Hi muhajirframe,

So I have found the problem and it has to do with the following line in your app.production.js file, beginning on line 16.

[code]

Replace it with the following, which is the default when you first initialize a new spike project and a production file.

[code]

[2016-10-12 22:06] jescalan commented on #29
Looks about right, thanks for the help here @robertguss!

[2016-10-12 22:06] #29 closed

[2016-10-18 09:03] gristel opened #34 "cssnext with autoprefixer"
Hi,
this is more of an informational question than it is an issue, but I'll go ahead anyway.
Is there a specific reason for using autoprefixer, since auto-prefixing comes out of the box with cssnext?
Thanks!

[2016-10-18 13:57] jescalan commented on #34
Cssnext uses autoprefixer. We don't include an additional copy of autoprefixer other than the dependency installed along with cssnext 😁

[2016-10-18 13:57] #34 closed

[2016-10-20 06:00] jannisg commented on #31
@jescalan Thanks so much for further investigating this. I will happily use these workarounds for now.

In terms of the `block-name` suggestion, I do like this a lot but would say that given my specific scenario here about being able to add a prefix of some sort, allowing something like the following would be nice:

[code]

One thing I would strongly suggest is updating the https://github.com/resh

[2016-10-20 06:29] jannisg commented on #31
I was just going to put a PR together for https://github.com/reshape/layouts/blob/master/README.md when I realised that the updates to the README.md would also have to address the `prepend` and `append` options, so since the the `<title>` tag is now within the `<block name="title">` the example will no longer work as expected.

Any thoughts on how the `prepend` and `append` functionality might be

[2016-10-20 14:44] jescalan commented on #31
@jannisg Ah good call! I'll update the readme right now, thanks for catching this. And yeah, at the moment I'm afraid the locals method might be the only way to do it!

[2016-11-15 00:32] jannisg commented on #31
Was about to close the issue, but figured I leave it open (unless you want to close it) until the reshape/layouts README section for "Append & Prepend" is also updated as it still contains references to prepend something to the title which won't work with the bug.

[2016-11-15 00:42] jannisg opened #35 "Allow configuration of src and build directories"
I would love it if I could specify an output dir and a src dir to allow for a project tree more akin to:

[code]

I tried setting the webpack config options for `context` and `output.path` however this currently breaks the `spike compile` and digging into `spike-core` lib a bit I saw that it was explicitly mentioned that setting those options would break spike: https://github.com/static-dev/spike-

[2016-11-15 15:38] jescalan commented on #31
@jannisg I must have missed this, would you be willing to submit a PR to fix it? 😁

[2016-11-17 20:21] jescalan commented on #35
@jannisg yeah I'm definitely open to adding a `srcDir` option. Interested in taking a stab at PR'ing it?

[2016-11-28 21:47] cearls opened #40 "Ignored partials that are used as plugin templates don't trigger the watcher"
I'm using an ignored view (views/_page.sgr) as a plugin template and changes to this file aren't triggering the watcher.

@jescalan commented in gitter: so ignored files are ignored by the watcher unless they are added to webpack as dependencies of files

[2016-12-01 15:58] jescalan opened #41 "i18n plugin!"
Multi-language sites are a thing, and we should have a recommended way to support them.

[2016-12-02 15:38] jescalan commented on #40
Ok so I have been thinking about how we might be able to work this out. The issue is that spike typically tries to only recompile the files that are needed during the watch, and has a map itself of which files depend on which other files. However, the templates generate output independent of other files in the project, and plugins decide on the output they generate. So I'm not entirely sure what s

[2017-01-31 21:28] Thebigbignooby opened #47 "Unhandled rejection TypeError: Cannot read property 'error' of undefined"
I just followed the tutorial, and this is what I get
[code]
:'(

[2017-01-31 21:30] Thebigbignooby commented on #47
Samething for `spike compile`

[2017-02-01 02:20] jescalan commented on #47
I'm sorry, spike doesn't currently support windows. We are happy to accept PRs to help with the support though!

[2017-02-01 09:23] Thebigbignooby commented on #47
well this is disappointing :-1: :(  :'( Do you know what the problem is ?
would love to contribute but I don't have the time

[2017-02-01 15:47] jescalan commented on #47
I'm sorry! I just don't have a windows machine to test on. Also, I have no motivation to burn the hours it would take, to be honest. I'm sponsored by my company to work on this software, and nobody at my company uses windows. I also don't personally use windows, nor do I know any software developers who do, so it would just be working for free for no tangible benefit to myself or the project's spo

[2017-02-01 15:52] jescalan commented on #47
I'd also like to just add this piece here as food for thought:

https://medium.com/static-dev/willingness-to-contribute-required-709bc1a09eaf

I get a lot of people asking for features or faster bugfixes but saying they don't have the time or experience to contribute themselves. If you don't have the time or experience to contribute, I would be careful using OSS at all, to be honest. What if you u

[2017-02-01 15:54] #47 closed

[2017-02-02 00:07] FranzSkuffka opened #48 "Error Reporting"
First off - thank you for this awesome tool. Love it as much as I roots.
I discovered a few problems I want to share with you.
Those problems are combined in this issue in case I am using things completely wrong / unicorn bug.
However, those problems occur for me on both node 6 / 7 on Ubuntu 16.04 and macOS 10.12.2 (16C67)

I hope you can help me with this :)

**Creating a new project throws depre

[2017-02-02 00:11] jescalan commented on #48
Hi there! Thanks for bringing these up.

The first issue is with sprout, and only happens on node 7. Could you file it as an issue in the [sprout repo](https://github.com/carrot/sprout) by any chance?

For the second, roots did a full page reload, and you can only do hot code pushes if you are using a front-end framework that supports this. Spike is intended for use with all sorts of different typ

[2017-02-02 00:27] janwirth commented on #48
Thank you for that quick response.

You can reproduce the error using https://github.com/FranzSkuffka/spike-error

JS hot reload being a framework thing and hard to optimize for makes sense. ROI just is not there.
What about CS?

[2017-02-02 00:28] jescalan commented on #48
What do you mean by CS?

[2017-02-02 00:31] janwirth commented on #48
CSS, sorry. Typo.
Is that also framework-specific?

I have zero experience with hot-module replacement on webpack. But it seems to me https://github.com/webpack-contrib/extract-text-webpack-plugin is the way to go.

[2017-02-02 00:35] jescalan commented on #48
css hot reload is supposedly handled through browsersync, which we use. I don't have the time nor motivation to look into this right now, but you are welcome to if you'd like!

The extract text plugin doesn't really have anything to do with hot reloads, but is a cool plugin!

[2017-02-02 00:38] janwirth commented on #48
Sure, as always, thanks for the support. I have my own share of maintaining to do then I will take a look :) Do you mean it should be live reloading already or can I contribute the implementation?

[2017-02-02 05:26] jescalan commented on #48
I feel like it should be injecting the css already, maybe there's an option to be flipped on, maybe it's not working... not entirely sure right now! Poke around and see : )

Spike is much smaller and simpler of a core than roots, so it should be less intimidating.

[2017-02-06 20:39] janwirth commented on #48
I renamed this to Error reporting so that we have a cleanly-focused issue.

Any progress?

[2017-02-08 15:05] crivera commented on #48
i have the same issue.

i changed a few files and now after compilation i always get:

`spike watch
✗ ERROR
Error
    at NormalModule.onModuleBuildFailed (/usr/local/lib/node_modules/spike/node_modules/webpack-core/lib/NormalModuleMixin.js:315:19)
    at nextLoader (/usr/local/lib/node_modules/spike/node_modules/webpack-core/lib/NormalModuleMixin.js:270:31)
    at /usr/local/lib/node_modules/spike

[2017-02-13 13:47] balupton opened #51 "Does it work with Webpack v2?"
The current master of the spike website is on webpack v1 https://github.com/static-dev/spike-www/blob/e55f3c0143f9e53a9099762d80ec005059153ec4/package.json

[2017-02-13 16:05] jescalan commented on #51
Hi @balupton! Yep, I just finished the (grueling) upgrade to v2 late last week. It's currently in prerelease while any bugs are ironed out. I'm running two production sites on it and it's working well so far. I'd expect a full release end of this week or next week.

You can use the v2 version with `npm i spike@next -g`. It is a breaking upgrade though, so using spike@next on an existing project wi

[2017-02-13 23:45] janwirth commented on #48
@crivera if you're wondering about updates, I was just taking a look and saw that @jescalan solved this already. :) Thanks!

You can install it like this: `npm i https://github.com/static-dev/spike.git\#e2524962fca9d947ce538747cd5bc712a4dae696 -g`

[2017-02-13 23:45] #48 closed

[2017-02-13 23:48] crivera commented on #48
cool thanks ill give it a shot

[2017-03-02 01:54] heyivanvilla commented on #51
@jescalan I'm considering using Spike for a project, would you say it's safe to start working with the current version, or wait till you release the next version?

[2017-03-02 04:38] jescalan commented on #51
It's safe to work with the current version for sure. I'd say it's also pretty safe to work with the next version as well, I have put out one production site on it already and am working on another right now.

The only situation where you might run into issues is if you are trying to do some serious custom functionality, and your site needs to be shipped within the next week or two, since I won't h

[2017-03-03 12:28] mindas22 opened #54 "How to fix after npm update spike watch gets:"
after npm update
spike watch
and
spike compile
gets:

Environment has changed (node_modules or configuration was updated).
HardSourceWebpackPlugin will reset the cache and store a fresh one.

server does not load, nothing happening.
How to find out what happening and how to fix. It has no problem if I create new project.

[2017-03-03 17:30] jescalan commented on #54
I would clear out the cache. Just delete the `_cache` folder. If you're working on a smaller site, you don't need the hard source cache at all, so you can remove the plugin entirely.

[2017-03-03 20:43] mwickett opened #55 "[For @next] Updates to production config needed"
Looks like `offline-plugin` needs to be included as a dev-dep, or else removed from production config.

Based on [this](https://webpack.js.org/guides/migrating/#dedupeplugin-has-been-removed) I think `dedupeplugin` can be removed from production config as well.

Let me know, happy to make PR (even though it's tiny)

[2017-03-03 20:49] jescalan commented on #55
Would be great, thank you!

[2017-03-03 21:03] mwickett commented on #55
Realize this should be over in `spike-tpl-base`. Sorry.

[2017-03-03 21:03] #55 closed

[2017-03-05 05:24] janwirth commented on #48
Bump @jescalan for a new release :)

[2017-03-05 05:37] jescalan commented on #48
So right now I'm working on the next version of spike which is based on webpack2, trying to get that out. The patch was accepted to webpack2, but has not yet been released.

The issue with back patching this is that not all errors will render correctly when using `toString`, if im not mistaken, so I don't want to push this to solve this use case and break another...

[2017-03-05 05:49] janwirth commented on #48
How does spike compare to https://github.com/vuejs-templates/webpack? I kind of like this tool for scaffolding as well. Maybe spike can profit from .some of the solutions there.

[2017-03-05 17:40] jescalan commented on #48
Very off-topic, but what you have linked there is a template for a single page app vue project. Spike is a full static site generator that can be used with any client-side framework and can generate static views.

An explicit goal of spike is not to tie to to a specific client-side framework, because as we all know, client-side frameworks come and go, and additionally there isn't a single one that

[2017-03-16 22:10] andystevensname opened #56 "Opt-out of Analytics not working"
Running the command `spike analytics disable` fails:

    $ spike analytics disable
    usage: spike [-h] [-v] {compile,watch,clean,new,template,tpl} ...
    spike: error: Invalid choice: analytics (choose from [compile, watch, clean, new, template, tpl])

[2017-03-16 22:48] jescalan commented on #56
Sorry, I haven't yet added an analytics opt out command. Actually, the analytics aren't working at all, sadly, see #27. Just not quite a priority yet!

[2017-03-17 14:43] jhabdas opened #57 "Please Add Hugo Comparison to Docs"
https://spike.readme.io/docs/why-spike

I didn't see [Hugo](https://gohugo.io/) in there. Is there any specific reason not to mention the second most popular (and fastest) static site generator? You may also be interested in: https://github.com/adrinux/web-starter-hugo

[2017-03-17 15:43] thierrybgentile commented on #57
I'm pretty sure it falls in the "Middleman, Jekyll, **etc**." category. There are obviously differences between Middleman and Hugo but for the purpose of this comparaison they have the same flaw: they're not written in JavaScript. For me that means they're impractical in pretty much every situation where you're not sure every dev who will have to work with the site will also have to know Go. Maybe

[2017-03-17 18:55] jescalan commented on #57
Yep, @thierrybgentile got it exactly right. It's a developer accessibility issue. You know the people working on the sites that you are using spike/hugo for know javascript. However, it's fairly unlikely that they will know go. That means with a JS tool, not only will it be easier for them to work with the framework and its configuration, but also to contribute, patch bugs they might find, etc.

I

[2017-03-17 19:01] jescalan commented on #57
Another thing which I'll write more about in the future is the fact that the compile speed should not be a major factor in your site's architecture, or else there is likely an issue with your architecture in the first place. For example, if you are trying to static compile a site with a couple thousand pages, maybe it would take 3 minutes with spike and only 1 with hugo. Nice improvement, right? G

[2017-03-17 20:08] ghost commented on #57
Not precisely. The argument made in the beginning of that section is Jekyll and Middleman are "flawed" because they use Ruby (not-JavaScript). I disagree. I would actually consider using another language a feature. Using a different language helps set clear boundaries between the platform (kernel) and userland. Well-placed constraints and boundaries help guide users to make good decisions, not inh

[2017-03-17 20:08] #57 closed

[2017-03-17 20:42] jescalan commented on #57
Hi @jhabdas --

I added a section to the docs that covers the reasoning above, it should be live now. Thanks for pushing for this!

There are often differences in how developers work between people and organizations. Personally, I prefer understanding my tools, and trying to help make sure that anyone using my tools has the ability to understand them. I encourage contribution often from my users,

[2017-03-17 20:56] ghost commented on #57
Thanks for the page update, and your detailed thoughts. I appreciate them. Please check out StaticMan when you have the chance. It's a Disqus-killer and then some. And also from Eduardo, https://speedtracker.org (Jekyll + React). Cheers and have fun out there.

[2017-03-17 21:05] jescalan commented on #57
Ah, so I have checked out staticman, but I do not use CMS' that handle content updates by writing back to a git project. I only use CMS' that expose an API. There are a lot of reasons why, which I'd be happy to chat about maybe outside of github issues (swing by https://gitter.im/static-dev/spike if you'd like).

The way I prefer to do architecture is vastly different than the jekyll-esque markdow

[2017-03-17 23:29] budparr commented on #57
I'd submit that it's not a "Spike vs…" at all, and that section might be counter-productive. Maybe like a "when to use Spike..." Such different tools for a variety of users and use cases. I for one am happy to have them all.

FWIW, just as a matter of detail on the recent Smashing project. Hugo builds ~7,500 pages in 13 seconds, on the server, not locally.

[2017-03-17 23:39] jescalan commented on #57
@budparr fair enough! i will re-think this section soon. any input appreciated!

And this is good to know, but what's more important is the local build time imho. It doesn't matter too much to me at least how long it takes to deploy (unless you are running a time sensitive site with breaking news or something), but it does matter when I need to switch into a project and make a small fix how long i

[2017-03-17 23:43] budparr commented on #57
Build time on the server matters to me because I have clients who want to see the changes live 😄 but at any rate, local build-time would be less than that. Not to argue, you know I ❤️ Spike.

Finally! I've been doing this for years and am so happy to see so much happening.

[2017-03-26 19:31] alexpate opened #58 "Reshape and syntax highlighting"
Is it possible to get syntax highlighting working with reshape/markdown-it?

Using the out-of-the-box config with `spike-html-standards`.

[2017-03-26 20:46] andystevensname opened #59 "Smylink outputDirs for different environments"
This might be an odd ask. I'd like to symlink `outputDir`s into their own repos. Something like this:

    |- build/production repo
    |- testing repo
    |- spike
        |- symlink to build
        |- smylink to testing

If I'm only pointing one of the stock configs' `outputDir`s, either app.js or app.production.js, to a symlink directory and have the other pointing at any other local directory

[2017-03-27 03:41] jescalan commented on #58
Yeah definitely! You'd just have to pass a highlighter to the `markdown` option ([ref](https://github.com/reshape/standard#options)) in reshape-standard.

Docs for the highlight option: https://github.com/markdown-it/markdown-it#syntax-highlighting

[2017-03-27 03:41] #58 closed

[2017-03-27 15:41] jescalan commented on #59
So this particular error indicates a pretty deep and severe internal webpack issue. I'm not entirely sure why this is happening, and unfortunately don't have time to dig in and debug this week at all. You are welcome to dig into the core and get some more details if you want though! I have a full walkthough of the core code here, which should help if you're diving in 😁

https://www.youtube.com/wat

[2017-04-22 11:29] alexpate commented on #31
Is there a suggested workaround for this? Running into the same problem at the moment

[2017-04-22 16:05] jescalan commented on #31
@alexpate yep! https://github.com/static-dev/spike/issues/31#issuecomment-252741415

[2017-04-28 15:53] robertguss opened #62 "Filepath for layout.sgr"
I am just following along with the quickstart here:
https://spike.readme.io/docs/quick-start

When I ran the command spike watch, I received an error:
"Module build failed: Error: ENOENT: no such file or directory, open '/Users/rguss/Projects/Spike/test-project/layout.sgr'"

Inside of index.sgr:
extends(src='layout.sgr')

I fixed the error by changing the src to:
extends(src='views/layout.sgr')

I

[2017-04-28 15:58] jescalan commented on #62
Hey Robert, thanks for catching this!

Hmm... so this shouldn't be the case. Views will resolve layouts relative to their own path, or at least they should be. I just tried this out locally, creating a fresh project, running `spike watch`, and making a few changes to different files and didn't get any errors.

Could you give me some more details on your operating system and the project you're work

[2017-04-28 16:27] robertguss commented on #62
Hey Jeff,
I am running:
 Mac 10.12.4
Node 6.9.4

I didn't make any changes, I was just going through the guide and when the browser popped up, it said cannot GET /
I then open the code and found the path was wrong.

I just did a fresh install again without changing any files and still got the same error.

[2017-04-28 16:52] jescalan commented on #62
That is very strange, I'm running the same version of osx -- only difference is that I'm on node v7. I can't imagine this really makes the difference, but just in case, is there any chance you could test with node v7?

Otherwise I'm baffled as to how this could happen, and there isn't really a way for me to debug it unless I can reproduce!

[2017-04-28 16:57] robertguss commented on #62
I just installed and tried on Node 7.9.0 and same thing. Must be something odd on my machine, which I am frankly ok with. I just wanted to make sure it wasn't a bug, if it were I would send a pull request.

[2017-04-28 17:02] jescalan commented on #62
Wow, that is super strange. I can't imagine what it could be! If you have a chance, is there any way you could test it out on a friend/coworker's machine and see if it works? If so we can confirm that it's something specific to your setup...

[2017-04-28 17:16] robertguss commented on #62
very. I will test on my home machine and let you know.

[2017-05-02 13:42] robertguss commented on #62
Hey Jeff,
So I finally managed to figure out what the issue was. I installed spike by running 'yarn global add spike'. Yarn was causing the issues. Once I removed and did 'npm i -g spike' everything worked as expected. So all is well.

[2017-05-02 13:42] #62 closed

[2017-05-02 15:41] jescalan commented on #62
Huh, that is really strange. I wonder why! I have also had issues with yarn global installs but not anything like this. Well, I'm glad it was worked out, thanks for the update!

[2017-05-21 23:13] timcreatewell opened #64 "Fresh install: receiving ModuleBuildError"
Hi there,

I've only recently come across Spike and keen to give it a test drive, but unfortunately am running into issues immediately after a fresh install (`npm install spike -g`) and creating a new project (`spike new test-project`).

When I try to run my new project (`spike watch`) I immediately receive in the terminal the following warning:

[code]

This warning doesn't seem to stop Spike fro

[2017-05-23 20:40] jescalan commented on #64
Hey so this is weird, I am unable to reproduce. Can you send a few more details on your system and what versions you are running of everything?

[2017-05-23 21:47] timcreatewell commented on #64
Hi @jescalan , thanks for getting back in touch.  I have just tried updating both node and npm on my machine (node is now `v7.10.0` and npm is `v4.6.1`), created a new fresh project and it now works fine :)

My guess is that it likely may have been my version of npm (it was previously `v4.2.0`).  I don't remember seeing anything in the docs about npm, but sorry if I missed it!

Thanks for taking a

[2017-05-23 21:47] #64 closed

[2017-05-23 21:50] jescalan commented on #64
Ah glad it worked out! 🙌

[2017-05-24 19:37] crivera commented on #28
hi

i just tried it with the latest version of spike and windows 10 and it seems to work now! I think this can be closed!

Chris

[2017-05-24 23:14] jescalan commented on #28
Great, glad it's working!

[2017-05-24 23:14] #28 closed

[2017-05-29 19:13] aesop1 opened #65 "HTML as root view instead of SugarML?"
I'm unclear via the documentation if I can use a plain HTML file (with include files) instead of SugarML.

Can I do this or does some configuration need to take place first.

I can include an HTML file from a SugarML file, but I can't seem to include HTML inside of HTML (or use variables, etc.)

[2017-05-29 19:18] jescalan commented on #65
You absolutely can, we have a template for this specifically:

https://github.com/static-dev/spike-tpl-sugarfree

If you want to use non-html features like includes, locals, etc, you need to run it through reshape. The template above shows how to do this (basically, pass `parser: false`) to your reshape config and that's it.

[2017-05-29 19:18] #65 closed

[2017-06-19 09:50] colsen1991 opened #67 "__runtime.escape(var) instead of parsed markdown"
Given `locals = { foo: '**bar**' }` in `app.js` and a simple view with
[code]
I am greeted with
[code]
in my browser.

I came across this issue when playing around with contentful (https://github.com/colsen1991/christerolsen-no/tree/spike), but managed to replicate the issue with a brand new project fresh from `spike new`

I've tried looking up help, but to no avail. The only post/issue I could fi

[2017-06-19 13:49] jescalan commented on #67
Hey @colsen1991 - this is a common issue and we have had a section covering this in the FAQs for a while, here it is!

https://spike.readme.io/docs/faqs#section-markdown-processing-locals

This is almost certainly our fault for not making it easy enough to find for you though. When you were searching for a solution, what was your process? It looks like you did an issue search, was there anywhere e

[2017-06-19 13:49] #67 closed

[2017-06-19 13:55] colsen1991 commented on #67
Thank you so much the quick reply. If only I'd sought help sooner rather than banging my head against the wall...

Mostly Google and, manual searches through your GitHub issues was my main way of attacking the problem. As well as dumbing down my project to hell and back. I guess I'm still pretty new to the OS community and need to learn to but problems aside and ask for help instead of trying to f

[2017-06-19 14:10] jescalan commented on #67
Of course, happy to help, and sorry the head banging happened! Documentation is hard, but we're always trying to make it better. Something I've found in general working as an developer is that once I get to the point where I'm "spinning my wheels", asking for help is much better than keeping them spinning hah.

Either way, always here to support and make sure that your project turns out amazing ✨

[2017-06-19 14:15] colsen1991 commented on #67
Hehe, yeah. Used to having a team of senior devs around, so asking for help isn't new. Just the asking on the internet part :)

Looking forward to working with Spike though! Keep it up :+1:

[2017-06-19 14:32] jescalan commented on #67
Makes a lot of sense. We're here and got your back though if you need it 👬

[2017-06-20 03:21] knupska opened #68 "Demo template generates mangled html"
Executing a `spike compile` with a fresh pull results in the demo template compiling some gnarly looking html with two issues:

1. The quotes for the spike links href are being eaten by the typographic quote system and converted to left/right single quote characters (switching it out for `"` in `index.sgr` just results in them being converted to left/right double quotes).

2. The markdown demonstr

[2017-06-20 13:20] jescalan commented on #68
Good catch, sorry about that! I'll fix this in a moment

[2017-06-20 14:21] jescalan commented on #68
@knupska Fixed! Thanks again for catching this 😁

[2017-06-20 14:22] #68 closed

[2017-06-28 15:37] SevereOverfl0w opened #70 "Suspending spike breaks reload"
If I hit Ctrl-Z so I can free up my terminal to use vim or similar, the reload doesn't work until I run `fg` again.

[2017-07-06 13:34] jalbstmeijer opened #73 "Debugging error"
Hi,

Can you please tell me how someone is supposed to debug an error like this; (the id is random)

# spike compile
✗ ERROR
{ [Error] id: '25067473' }

Gr, Justin

[2017-07-06 13:36] jescalan commented on #73
Hi @jalbstmeijer -- no I can not, it certainly should be more clear than this. Most generated errors come from webpack, which spike is built on top of. Can you show me how to reproduce this error? If so I might be able to help.

[2017-07-06 13:44] jalbstmeijer commented on #73
info to reproduce:

installed:
nodejs@6.9.5
spike@latest
spike-rooftop@latest
babel-preset-latest@latest
webpack@latest
hard-source-webpack-plugin@latest
spike-html-standards@latest

This was a working app.js, no need to actually have a cms server, as filling in a non existing url gives the same error:
const htmlStandards = require('reshape-standard')
const cssStandards = require('spike-css-standa

[2017-07-06 13:48] jescalan commented on #73
Ah I don't think the rooftop plugin has been updated recently to work with the latest version of spike. Let me take a look at this now.

[2017-07-06 13:49] jalbstmeijer commented on #73
Yes, that was my first idea too, but downgrading to spike-1.0.0 gives the same result.

[2017-07-06 13:58] jescalan commented on #73
yeah rooftop was pre-1.0. just found the issue and fixed it, will push in a minute. tbh, we ended up switching off of rooftop due to a number of issues so it just hasn't been a priority keeping that plugin up to date.

[2017-07-06 14:01] jescalan commented on #73
Also, I reproduced your error message and there is also an extensive stack trace pointing to the exact location of the issue, not just an ID. Including that would have certainly given a more accurate context...

[2017-07-06 14:03] jescalan commented on #73
Ok just published a new version of spike-rooftop, give that a shot and it should close this out!

[2017-07-06 18:36] jalbstmeijer commented on #73
using pip till now, I suppose I have to checkout the master branch instead?

[2017-07-06 18:49] jescalan commented on #73
Hm? no you can just update the dependency in your package.json file. If you are using yarn, you can run the lovely `yarn upgrade-interactive` command to do so. Otherwise you can manually switch the semver number to `^1.0.0` and run `npm i`.

[2017-07-07 18:23] jalbstmeijer commented on #73
Hi,

Still getting the same error with spike-2.0.0 and spike-rooftop-1.0.0.
Only thing that makes me wander is why spike-1.3.1 is listed inside the project folder created  with spike-2.0.0.

spike new website
cd website
npm list spike
@0.0.1 /home/user/website
`-- spike@1.3.1

just running spike, shows version 2.0.0.
spike --version
2.0.0

should I move this to the spike-rooftop github project?

[2017-07-07 18:26] jescalan commented on #73
Good call, just hadn't updated the default template yet, I just updated it now. Thanks for catching that!

And yeah that would be great. All the tests are passing with spike-rooftop on the latest version, so I'm a little confused as to how that error wold be appearing... can you give me a full trace or perhaps reach out privately on gitter and get me the source so I can test it?

[2017-08-01 00:51] bangzek opened #75 "spike template list doesn't work"
[code]

[2017-08-01 03:15] jescalan commented on #75
Oh man, not sure how I didn't notice that one or catch it in a test! Good call. Will have this fixed by tomorrow.

[2017-08-02 10:13] bangzek opened #76 "No watch support for app.js?"
I use each expression on index.sgr taking data from app.js locals, the problem is if I update app.js (add another item on the array) then index pages is not updated even when I manually reload it.

I must stop and start spike watch or run spike compile for every changes.

[2017-08-02 23:42] jescalan commented on #76
Hey there @bangzek -- yes if you change the core config file you need to restart the watcher. This is the case for just about any framework out there. Triggering a reload of the entire config is possible, but would be quite difficult. If it's something you are really interested in, I'd be happy to take a look at a pull request!

[2017-08-03 03:58] bangzek commented on #76
Seem like a worthy goal, but I've got a long way to go.
Must understand this webpack thingy and getting my feet wet on nodejs scripting.

Don't close this bug yet.
Who knows maybe in a year I might close it :^)

[2017-08-03 14:02] jescalan commented on #76
So it's not a bug, it's a feature request. I am going to close it though, I'm sorry -- if you do end up coming back in a year to look at it we can re-open it then. For now it helps me a lot to only have issues open that are being worked on 😁

[2017-08-03 14:02] #76 closed

[2017-08-03 14:03] #73 closed

[2017-08-03 14:04] jescalan commented on #70
Hey sorry for the late response here -- I have no idea how to fix this and it certainly is not something that can be implemented in spike, since spike uses webpack's watcher. If you do need this to be fixed, I would try filing it in watchpack instead. Or just opening a new terminal tab when you need to do something else 😁

[2017-08-03 14:04] #70 closed

[2017-08-03 14:04] jescalan commented on #54
Closing due to inactivity

[2017-08-03 14:04] #54 closed

[2017-08-03 14:06] jescalan commented on #41
Ok so this is ready to be implemented, and can be used already through the `multi` option being passed to `htmlStandards`. I still will probably build a plugin to make the interface smoother, but if this is blocking anyone, it can be solved immediately with this feature:

https://github.com/reshape/loader#producing-multiple-outputs-from-a-single-file

[2017-08-03 14:06] jescalan commented on #51
Closing since we have been on webpack latest in spike stable for quite a while not 😁

[2017-08-03 14:06] #51 closed

[2017-08-03 14:07] jescalan commented on #59
Closing due to inactivity

[2017-08-03 14:07] #59 closed

[2017-08-03 14:09] jescalan commented on #40
Ok so this has been solved with the latest round of updates to how single page templates are handled. The architecture change has been made and published to `spike-datocms` and `spike-contentful`. 🎉

[2017-08-03 14:09] #40 closed

[2017-08-03 14:09] jescalan commented on #19
Closing due to inactivity

[2017-08-03 14:09] #19 closed

[2017-08-03 14:11] jescalan commented on #31
Going to close this since this is part of the behavior of our html parser and will not be fixed, and the reshape/layouts docs have been updated 🙌

[2017-08-03 14:11] #31 closed

[2017-08-23 04:51] bangzek commented on #75
Still no fixes on v2.2

[code]

[2017-08-23 05:21] jescalan commented on #75
I'm sorry, I just haven't had time. It would be really great if you would be willing to look in to contributing here! Shouldn't be a difficult fix.

[2017-08-23 15:35] jescalan commented on #75
Actually just managed to fix it. Will be out next release

[2017-09-26 08:44] ghost commented on #41
Is there an example where I could checkout the implementation of the multi option?

[2017-09-26 15:02] jescalan commented on #41
Sure! These three are the ones currently in the wild, in production:

- https://github.com/reshape/loader/blob/master/test/index.js#L118
- https://github.com/static-dev/spike-datocms/blob/master/lib/index.js#L50
https://github.com/static-dev/spike-contentful/blob/master/lib/index.js#L58

In addition, of course, to the example provided above in the link to the docs.

[2017-10-27 11:35] lukekhamilton opened #77 "Timestamp in spike watch output"
Be great to have a timestamp in the spike watch output.

Am just starting to get my hands dirty converting a html theme to a spike site and am finding myself while debugging this process never quite sure if/when the compiler has run.

If you guys are open to this enhancement i'll have a crack at adding it if you want?

[2017-10-28 02:04] kildareflare opened #78 "Fresh install: receiving TypeError"
Hi, keen to check this generator out, but running into problems on a fresh install.

Windows 10
npm 5.4.2
node 6.11.3

`npm install -g spike`
`spike new test-project`
`spike watch`

I get the following warning
`[BABEL] Note: The code generator has deoptimised the styling of "C:/Code/Projects/test/node_modules/browser-sync-ui                                                       /public/js/app.js.m

[2017-11-06 20:35] jescalan commented on #78
Hey there @kildareflare! Thanks for reporting this, and I'm so sorry you ran into this issue. To be honest, we have very few windows users, and I do not explicitly test windows every release. However, we do have a pretty extensive test suite which is passing on windows.

I will see if I can reproduce this later today. In the meantime, I might try upgrading your node version to the latest!

[2017-11-06 20:36] jescalan commented on #77
Sure, would love to have that feature! I think it would be a great first time contributor feature as well. Let me know if you need help!

[2017-11-09 15:43] sibinx7 opened #79 "How write JSON on data attributes"
I need to add JSON on data attributes, but this not working. I use `pug` template language

1. Problem One
[code]

2. Problem 2
[code]
Result

![screenshot from 2017-11-09 21-12-58](https://user-images.githubusercontent.com/2009809/32614212-c969fd4c-c592-11e7-9446-9a3a0a27d01d.png)

[2017-11-09 15:45] jescalan commented on #79
This would be an issue for `pug`, not here in spike. However, I'd recommend encoding your data to base64 so that you don't have a parsing issue with quotes, or escaping all quotes. Reshape will convert to all double quotes in the output, as you can see here. Switching single and double quotes in this specific instance should also solve the issue.

[2017-11-13 07:00] kildareflare commented on #78
Hey, no worries- I realise that as a front end dev who uses windows I'm in the minority. ;0)
No rush as I've since moved onto a different generator.

[2017-11-13 23:21] anthonyjclark opened #80 "Change the base URL"
Being new to both Spike and Webpack I'm not exactly sure how to setup my `app.js` to handle this fairly simple problem.

On my local machine the default URL is fine:
[code]

However, when deployed my website will be contained in a different directory. For example,
[code]

I'm not sure how to tell Webpack that all absolute paths need to be from this new base URL **anthonyjclark**. Coming from Hugo,

[2017-11-13 23:31] jescalan commented on #80
Hey Anthony!

So, there is no special handling for this at all. You can just use relative URLs instead of absolute. For example, if you are including a main js file in your layout, you want `<script src='js/main.js'` instead of `<script src='/js/main.js'`. The latter is an absolute path and will reference the root every time, whereas the former is relative and will reference from the directory its

[2017-11-13 23:38] anthonyjclark commented on #80
That does help quite a bit. One quick thought before I go down this route: how can URLs in markdown be handled?

I tried the following, before my initial question, without any luck:

[code]

[2017-11-13 23:45] jescalan commented on #80
You'd want to make sure you are using the markdown option for the tag you're using. For example:

[code]

This functionality comes from [reshape/standard](https://github.com/reshape/standard) and can be swapped around and customized if you want.

[2017-11-13 23:56] anthonyjclark commented on #80
I was actually doing this:
[code]

Which renders like this:
[code]
So, it would seem that markdown-it butchers it before it can be handled by reshape. I'll try to escape the braces, but that seems cumbersome.

[2017-11-14 00:00] anthonyjclark commented on #80
If I escape the braces:
[code]
I get the following:
[code]

Which, in hindsight, is not surprising.
 

[2017-11-14 06:29] jescalan commented on #80
Yeah, if you want to include a markdown file like that, I'd recommend adding this plugin: https://github.com/makestatic/reshape-markdown 😁

[2017-11-14 06:32] jescalan commented on #80
Just an additional note - in general, it will greatly help you to customize everything the way you want if you get a better understanding of how reshape works. Try dropping `reshape/standard` and assembling plugins yourself, etc. It's also super simple to make your own custom plugins and you can start using them immediately unlike with other templating languages that require understanding a large

[2017-11-14 15:19] anthonyjclark commented on #80
I appreciate your comments. Your suggestion to use reshape-markdown would definitely be a good idea, but I'm wondering if that will actually solve the problem of markdown-it messing up on the braces? Anyway, I made a quick plugin to solve the issue. It is definitely a kludge, but it seems to work for now (it will undoubtedly have unintended consequences at some point :)).

[code]

**You can feel f

[2017-11-14 15:33] jescalan commented on #80
I think it should be fine. The curly braces should always be processed *before* markdown runs ([ref](https://github.com/reshape/standard/blob/master/lib/index.js#L61)), so that it won't see the braces. That being said, you might need to add in the [eval-code](https://github.com/reshape/eval-code) plugin in the middle so that markdown is running on text instead of a code node. This is already the c

[2017-11-14 15:33] #80 closed

[2017-11-14 16:39] anthonyjclark commented on #80
Thank you for your help. I'll cleanup my `app.js` and `layout.html` with your suggested changes. As for the plugin, I'll try to find some time to package it together later this week.

I really like what you've done with `reshape` and `spike`.

[2017-11-14 16:43] jescalan commented on #80
Of course, super happy to help, and very impressed by how quickly you were able to understand how it works and produce a pretty great plugin.

We also have a small but fairly active community of other people using these tools and generally working on cool static site stuff [if you're interested](https://static-dev-slack.herokuapp.com/) - would be happy to see you there!

[2017-11-29 20:46] crivera opened #81 "error when layout is in another subfolder"
Hi

i have the following folder structure:

- views
  - layouts
    - layout.html
  - fragments
    - header.html
    - footer.html
  - search
    - result.html
  - index.html

in result.html i am trying to add the layout.html like this:

<extends src='../layouts/layout.html'>

which works fine

in index.html i am trying to add the layout.html like this:

<extends src='./layouts/layout.html'>

whi

[2017-12-15 16:24] jescalan commented on #81
Yep, you can use the `root` option in `htmlStandards` to resolve from an absolute path 😁

https://github.com/reshape/standard#options

[2017-12-15 16:24] #79 closed

[2017-12-15 16:25] jescalan commented on #77
Just following up on this one!

[2017-12-15 16:54] crivera commented on #81
awesome that worked !

[2017-12-15 16:54] #81 closed

[2017-12-15 23:29] utx0 commented on #77
Sorry bro, I haven't had anytime of late to get back to anything to do with
spike. :(

Kind regards,
Luke Hamilton
Solutions Architect | Web & Mobile Developer | Digital Nomad

--
e: luke@mettadata.com
s: lukekhamilton
c: *https://calendly.com/lukekhamilton/
<https://calendly.com/lukekhamilton/>*

 ~ With loving kindness ~

On Sat, Dec 16, 2017 at 2:25 AM, Jeff Escalante <notifications@github.com>

[2017-12-18 11:20] maotora opened #84 "How do you minify images and place them in the public/img"
Hello,

I have a problem that I don't know much about webpack. So, I cannot really understand how to use `imagemin` kind of libraries (img-loader, image-webpack-loader etc) with spike and produce minified images in `public/img` directory with their names.

I tried this code:

[code]

But this gave me a very strange output in `public/img/image_name.png` Where images where now javascript files conta

[2017-12-18 15:34] jescalan commented on #84
Hey there! So right now there are some weird issues with the image loader that's causing it not work play along super well with spike, at least there were last time I checked. It hasn't been a priority for me to dig into this, because you can just run imageoptim on any exported images yourself quite easily, and each image only needs to be optimized once, so it's actually much faster for your build

[2017-12-21 06:46] #84 closed

[2017-12-29 07:44] maotora opened #85 "Fails with third-party pug code: TypeError: Cannot read property 'line' of undefined"
Hello,

I'm including a pug code which looks exactly like `sgr` code but it keeps on failing with error

[code]

The pug code included in my `layout.sgr` file for simplicity.

[code]

I had to include it in the `layout.sgr` to see the error otherwise it was just rendering fine but none of the third-party pug code got rendered to the browser.

I found this code [here](https://codepen.io/mudassir090

[2017-12-29 07:58] maotora commented on #85
I hate when this happens.

Not sure what I did but to my surprise, it works now.

I removed most of the code and `include`d it and now it works.

[2017-12-29 07:58] #85 closed

[2017-12-30 18:06] jescalan commented on #85
👍 - be careful with pasting in pug code too, while similar, sugarml is not pug-compatible

[2017-12-31 13:22] maotora commented on #85
@jescalan Nice to know that.

Thanks.

[2018-01-06 17:28] maotora commented on #85
@jescalan  hey man I just finished designing the website (alpha release) but thought it'll be better to share it for you to check it out.

I love it's caching capabilities & speed.
https://archnoob.com

Thanks a lot.

[2018-01-11 12:50] smth opened #86 "Install hanging on ua-parser-js"
Trying to install Spike for the first time, it's stuck on
[code]
It's been like an hour, I guess that's not normal?

[2018-01-11 15:57] jescalan commented on #86
Definitely not normal, however, this is an issue with either your internet connection or NPM, and is out of spike's control entirely 😢

[2018-01-11 16:34] smth commented on #86
Wasn't my internet connection. Not sure what it was, but switching from Node 7 to 8, and updating NPM seemed to get it working.

[2018-01-11 16:34] #86 closed

[2018-01-12 10:10] smth opened #87 "Disable automatic browser opening"
Is it possible to turn this off? If so, how? If not, could it be added?

Reasons:
- Having an extra tab open whenever I restart `spike watch` is a bit annoying
- I don't use my default browser for this purpose

[2018-01-13 19:15] smth opened #88 "Broken nesting"
This is probably going to need to be resolved elsewhere eventually, but thought I'd start here, to see if anyone can replicate this issue. I'm finding that nesting beyond one level is not getting formatted, and being outputted verbatim. There is a quirk here in that this issue does not apply the first nested sibling.

**To replicate**
1. Create a new "sugarfree" Spike project
2. Use the below CSS

[2018-01-16 18:55] smth commented on #88
Pretty sure this derived from old dependencies. Closing in favour of https://github.com/static-dev/spike-tpl-sugarfree/issues/4

[2018-01-16 18:55] #88 closed

[2018-01-16 22:54] jescalan commented on #87
Hi there! Yeah it is possible. Just add to the spike main config object:

[code]

and that should do the trick!

[2018-01-16 22:54] #87 closed

[2018-01-17 00:04] jescalan commented on #85
Awesome, great work my man! Looks fantastic ✨

[2018-01-17 08:37] maotora commented on #85
Thank you very much, man.

I wouldn't have done such a great job if it wasn't for u and your team.

Cheers!

[2018-01-26 21:41] vwong opened #89 "Cache busting CSS?"
I noticed the JS bundles had cache-busting filenames in production, but the CSS bundles do not.  How do I achieve the latter?

I noticed in the default `layout.sgr`, we have:
[code]
and
[code]
It turns out `js/main.js` is defined in [spike-core](https://github.com/static-dev/spike-core/blob/master/lib/config.js#L57), but I can't seem to find the corresponding one for CSS.

Is there some trick with

[2018-02-03 17:45] jescalan commented on #89
Hey @vwong!

So, extract-text-plugin isn't really compatible with spike - adding this feature would mean a few modifications to the core code. If you're interested in contributing, I'd be more than happy to walk through this with you!

[2018-02-08 00:37] fusilli opened #90 "Disapperaring SVGs after spike compile --env production"
I have a problem with disappearing SVGs definitions when compiling to production.
The source code is in this include - https://github.com/sonjaarnold/turquoisetangoshoes/blob/master/views/_includes/icons.sgr
In standard compile it works as expected…

[code]

but in --env production I get only:

`<svg style="position:absolute;width:0;height:0" xmlns="http://www.w3.org/2000/svg" overflow="hidden"></

[2018-02-08 09:59] fusilli commented on #90
Ok, I think I got it… in my app.js I changed `minify: env === 'production'` to

[code]

[2018-02-08 18:21] jescalan commented on #90
Ah great - glad you found the issue!

This ultimately boils down to an issue with SVGO as seen here: https://github.com/reshape/minify/blob/master/lib/modules/minifySvg.js

[2018-02-20 14:47] DirtyF opened #91 "Add LICENSE"
What is Spike licensed under?

[2018-02-20 16:06] jescalan commented on #91
Haha you really didn't look too hard did you?

https://github.com/static-dev/spike/blob/master/license.md
https://github.com/static-dev/spike/blob/master/package.json#L40

[2018-02-20 16:06] #91 closed

[2018-02-20 16:49] DirtyF commented on #91
@jescalan [Spike is now listed on thenewdynamic](https://github.com/thenewdynamic-org/thenewdynamic.org/blob/hugo/content/tool/spike.md) 😉

[2018-02-20 17:03] jescalan commented on #91
Whoo! Thank you! 🎉

[2018-03-31 17:46] adamkiss commented on #77
@jescalan I could tackle this - I'm using a fork of spike with ^HEAD spike-core where I already added it, albeit hard-coded, and I could use some sort of direction. I'd also like to add a 'this file changed, rebuilding…' to watcher - I have already figured it out how, and I'm adding it here as it's also under the umbrella of 'verbosity'

#### The timestamp

The timestamp is/should be added to `spi

[2018-04-02 03:15] jescalan commented on #77
Hey @adamkiss! I think probably the best way for me to work through this with you, to be honest, would be to jump on a video call for like an hour and just talk it through. I have been really overloaded with work these days, so the best way for me to keep my attention in one place is to set up a specific date/time to handle it. Want to shoot me a time on slack that's good for you and maybe we can

[2018-04-18 00:52] #75 closed

[2018-04-18 00:52] #78 closed

[2018-05-08 13:43] maotora opened #94 "spike watch fails"
Hi,

I've just experienced an issue when I run

    spike watch

With new or old projects I get an error message saying;

[code]
I am not sure if this is a Nodejs issue or Spike's.

Versions of programs I use;

[code]

Thanks.

[2018-05-08 13:53] jescalan commented on #94
That would be a node issue, unfortunately 😓

[2018-05-08 13:53] #94 closed

[2018-05-08 13:55] maotora commented on #94
Any solution or suggestion?

[2018-05-08 13:59] jescalan commented on #94
This seems like a fairly large problem with either your system or node installation. That trace points back to a C source file, which is what node is written with, to the `fs.Stat` function.

I am not an expert in node's internals, and this issue has nothing to do with spike, so that's just about as much as I can diagnose. If I ran into that issue, I might try downgrading to the LTS version of nod

[2018-05-26 10:29] mirshko opened #95 "Seems Spike is having an issue with Node v10.2.1"
Here is the issue log from the console. Switching to lts `v8.11.2` version seems to fix it.

[code]

[2018-05-26 18:53] jescalan commented on #95
Yep, this issue has been filed and closed several times, unfortunately there's nothing I can do about this as the stack trace comes straight from node and not any of spike's code 😞

[2018-05-26 18:53] #95 closed

[2018-06-08 12:59] jbshirk opened #96 "themes for spike"
Maybe it's obvious for those who know about webpack, but practically all sites for SSGs have a section in their docs about themes, and often a repo of theme demos. I searched all over the spike site, and the github repo, and google for "spike themes" and can't find anything. Some good advice for a beginner moving from Hugo, Jekyll, etc. Would be a great help.

[2018-06-08 14:09] EnMod commented on #96
I think the lack of theme documentation is due to the nature of Spike: it's focused on generating static sites for your specific purposes, and does its best to leave the user free to add their own plugins/features as they see fit.  The focus of Spike seems to be much less on creating blogs or themed sites (although you can certainly do that easily, [as I have](https://github.com/EnMod/noelquiles.c

[2018-06-08 15:28] jescalan commented on #96
Thanks for the great response here @EnMod - all of this is for sure accurate.

I'd also add that spike is not a beginner framework, nor is it a framework built for generating standard copy-paste theme sites. I built this while working at a digital agency that did custom commissioned projects, and standard themes were not really an option when someone is paying $50k+ for a custom site.

Spike is op

[2018-06-08 15:28] #96 closed

[2018-06-08 15:29] #89 closed

[2018-06-10 18:54] jbshirk commented on #96
Thanks for the pointers. Yeah, one of the reasons I wanted to learn spike instead of using those others, is their one-size-fits all assumption that everybody wants a blog.

[2018-06-10 23:18] jescalan commented on #96
Quite reasonable, that's also a reason that I wrote it! Have you considered writing your own styling and markup for what you're working on, or open-sourcing your markup and making it a theme yourself?

[2018-06-12 22:35] jbshirk commented on #96
I have so much to learn before I can do that, it would be premature to suggest I could.

[2018-06-13 05:10] jescalan commented on #96
If that is the case, I'd definitely suggest passing on any sort of theme or build system and learning to write some quality html and css from the ground up 😁

[2018-06-13 05:12] vanthome commented on #96
We use our [VCL Framework](http://vcl.github.io/) which supports theming and the [Webpack PostCSS loader](https://github.com/postcss/postcss-loader) and there you have theming in spike.

[2018-06-13 08:47] iljamm opened #97 "Compilation error for files with round brackets in their names"
I placed a number of pdfs into assets folder, which is a dump dir and expected that they would be copied into public folder, instead i got a compilation error:

{ ModuleParseError: Module parse failed: Unexpected token (1:0)
You may need an appropriate loader to handle this file type.

It appears that pdfs had round brackets in their names and as soon as I removed them all compiled as expected.

G

[2018-06-13 17:33] jescalan commented on #97
Hey thee @iljamm - I'm sorry but I don't currently have the bandwidth to look into it. If you are interested in looking into it though, this is an open source project and it would be great. Let me know if I can help you along the way 😁

[2018-07-04 07:28] smuemd opened #98 "Uglify JS minification issue"
Hello I ran into a bug when compiling this this libary (https://github.com/porsager/bss/issues/18) in production mode

I am getting this:

[code]

here is the original issue: https://github.com/porsager/bss/issues/18

looks like the below two lines:

https://github.com/static-dev/spike-core/blob/a2743fb7197a780be5e63fc641b7bb25c7813dd8/lib/config.js#L117

https://github.com/static-dev/spike-core/b

[2018-07-05 14:00] jescalan commented on #98
Running babel on every node module is absolutely brutal, takes ages, and is unnecessary for nearly all of them, which is why I have it set up that way. Afaik though, if you require into one of your bundles, it should be transpiled, and also it looks like [the main output for this project](https://github.com/porsager/bss/blob/master/bss.js) is already pre-transpiled, so I'm a little confused about

[2018-07-05 14:30] smuemd commented on #98
Confuses me too. It seems like webpack doesn't transpile when there is a module field in the package.json. Which sort of kind of is understandable. But then Uglify will trip over it as it doesnt process modern JS

I guess this is one to just sit out until spike dependencies are updated down the line.
Do you have an update in the pipeline? Need help with that?

[2018-07-05 17:03] jescalan commented on #98
Unfortunately I don't at all - since I changed jobs I have hardly had any time at all to work on spike :(

[2018-07-05 20:18] smuemd commented on #98
Fair enough. Migrating to Webpack 4 probably will not be straightforward, considering all the changes. The pace that this stuff evolves at is quite breathtaking. And spike is quite solid as is for the time being. No reason to rush things.

[2018-07-05 20:18] #98 closed

[2018-07-05 21:17] jescalan commented on #98
Yeah, migrating to 4 will be brutal for sure. Going from 2 to 3 was extremely difficult. It is definitely something I plan on doing, but just won't be able to get to it for a bit until things calm down at my full time job.

[2018-07-30 23:39] aegaas opened #99 "spike compilation errors do not exit 0"
exiting non-zero is a common unix convention that allows for scripted pipelines to work properly.

For instance, on our production app we've discovered that our pipeline improperly destroyed a site when a build error occurred when our upstream data provider's payload changed, thus destroying the site.

Can we get an exit code on compile error so the rest of the build pipeline fails instead of blan

[2018-07-31 00:00] jescalan commented on #99
Sure! Interested in contributing this fix? It should be [quite easy](https://github.com/static-dev/spike/blob/master/bin/spike#L7).

[2018-08-12 12:34] yzalvov commented on #94
Downgrade worked for me. thank you @jescalan !

[2018-08-15 10:57] maotora commented on #94
Yes, I also had to downgrade to node V8.11.3 and was actually pleased to know that ArchLinux has separate packages for node V8, latest and V6.

They are all listed if you do

    pacman -Ss node

Thanks @jescalan

[2018-12-05 02:05] lukekhamilton opened #100 "doctype rendering strangely"
Hey guys,

I have a spike project thats rending out the doctype in a very strange way and I cant work out why.

Layout.html first few lines:
[code]

Strange output string rending out as follows:
[code]

[code]
[code]

Any help would be great. Thanks.
Luke

[2019-01-03 22:46] jescalan commented on #100
Unable to reproduce with a new project on the same versions. Was this produced with a fresh project, or existing one?

[2019-01-28 17:32] doZennn opened #101 "Problems trying to use herrstucki/responsive-loader with spike"
I get `TypeError: Cannot read property '__SourceMapDevToolFile' of undefined` while trying to compile.
The error can be bypassed by adding `_skipSpikeProcessing: true`. But it doesn't help much of course.

Any help is appreciated.

https://github.com/herrstucki/responsive-loader

[2019-01-31 18:37] #101 closed

[2022-10-10 22:26] #56 closed

[2022-11-20 18:40] psla opened #102 "spike watch: port ignored"
I am trying to start `spike watch` on a different port. I tried `-p`, `--port`, as per [manual](https://spike.readme.io/docs/command-line-interface), unfortunately, the port setting is ignored.
[code]

 * Expected behavior: `spike watch` starts on port 3003
 * Actual behavior: `spike watch` starts on port 3001.